<div class="main">
  <div class="inputs">
    <div>
      <input placeholder="username" #username id="username">
    </div>
    <div>
      <input type="password" placeholder="password" #password id="password">
      <i id='icon' #icon class="fas fa-eye fa-eye-slash" (click)="hideShowPass(icon, password)"></i>
    </div>
  </div>
  <div class="buttons">
    <div>
      <button (click)="LogIn(username.value, password.value)"> Sign in</button>
    </div>
    <div>
      <button (click)="SignUp(username.value, password.value)"> Sign up </button>
    </div>
  </div>
</div>
