<ul *ngIf="(newTasks$ | async)?.length > 0" class="heroes">
  <li *ngFor="let task of newTasks$ | async">
    <label class="container">
      <input type="checkbox" [ngClass]="!task.is_active ? 'checked' : ''">
      <span class="checkmark" (click)="markAsComp(task._id, !task.is_active)"></span>
    </label>
    <span (dblclick)="clickSpan($event, task)">
      <input class="name" #input [disabled]="!(enabledEditTask && enabledEditTask._id === task._id)" [ngModel]="task.name"
             (ngModelChange)="changeName($event)"
             (blur)="enabledEditTask = null;" (keyup.enter)="sendName(input, task._id, task.name)"
      >
    </span>
    <span class="delete" (click)="deleteItem(task._id)">
      <i class="fas fa-times"></i>
    </span>
  </li>
</ul>
